*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: black;
}

.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.loader-container div{
   border-radius: 100%;
  
    position: absolute;
   
    background-color: transparent;
    border: 6px solid white;
     border-bottom:6px solid transparent;
     animation: loading-animation 1s infinite linear;
}

.loader-container div:nth-child(1){
     height: 4rem;
     width: 4rem;

}

.loader-container div:nth-child(2){
     height: 8rem;
     width: 8rem;
     animation-delay: 0.5s;
}

.loader-container div:nth-child(3){
     height: 12rem;
     width: 12rem;
}

@keyframes loading-animation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}